{% extends 'shopapp/base.html' %}

{% block title %}
    Products list
{% endblock %}

{% block body %}
    <h1>Products:</h1>
    {%if products %}
        {%for product in products %}
            <div>
                <ul>
                    <li>Name: {{ product.name }}</li>
                    <li>Price: {{ product.price }}</li>
                    <li>Discount: {% firstof product.discount 'No discount' %}</li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>No products yet</p>
    {% endif %}
<div>
    <a href="{% url 'shopapp:products_create' %}">Create new product</a>
</div>
{% endblock %}